<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos los Libros de la Biblia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Biblia Seleccion</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/libros">Libros</a></li>
            </ul>
        </nav>
    </header>

    <main>
       <section id="libros"lista->
    <h2>Todos los Libros de la Biblia</h2>
    <div class="grid-libros">
        {% for libro_nombre in libros %}
            <div class="tarjeta-libro">
                <h3>{{ libro_nombre }}</h3>
                <p>{{ resumenes_libros.get(libro_nombre, 'Resumen no disponible.') }}</p>
                {# Podrías añadir un enlace para ver capítulos/versículos de este libro en el futuro #}
                <a href="/libro/{{ libro_nombre }}" class="btn-ver-libro">Ver Libro</a> {# Añadido un botón para ver el libro #}
            </div>
        {% endfor %}
    </div>
</section>
    </main>

    <footer>
        <p>&copy; 2025 Biblia Seleccion. Todos los derechos reservados.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>